<div class= "wrap_it_up center_content">
<div class="div_about">
<h2>ABOUT:</h2>
<br>
<br>
<p> Welcome to Askit, This is an online forum where you can Post any kind of question and get responses from other users who use this app.</p>
<br>
<p> Sign up to become a part of this community! And get your own personal questions answered! </p>
<br>
<p>Use the search bar above to find things that might interest you. Or select a category!
<br>
<p>If you don't see a category you like, feel free to add it!!</p>
<br>
</div>
</div>

<footer class= "wrap_it_up new_font footer"><b>Created by: Alan Banks, Jason Park</b></footer>