<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
    <link rel="stylesheet" href="app/assets/stylesheets/about.css">
  </head>
  <body>

<div class="about_page">
    <div class= "wrap_it_up">
    <br>
    <br>
    <p> Welcome to <b>Askit</b>, This is an online forum where you can post any kind of question and get responses from other users who use this app!</p>
    <br>
    <p> <%=link_to "Sign up", new_user_path%> to become a part of this community! And get your own personal questions answered! </p>
    <br>
    <p>Use the NAV bar above to find things that might interest you. Or select a category!
    <br>
    <p>If you don't see a category you like, feel free to add it!!</p>
    <br>
    </div>
    <h1 class="wrap_it_up new_font creators">Created by: <b>Alan Banks</b>, <b>Jason Park</b></h1>
</div>

</div>


  </body>
</html>









<!--<footer class= "wrap_it_up new_font footer"><b>Created by: Alan Banks, Jason Park</b></footer> -->