// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#login_container {
    margin: auto;
    margin-top: 10%;
    display: block; 
    width: 16%; 
    background: rgba(40, 158, 197, 0.521); 
    padding: 14px 20px; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px;
    border: black solid 2px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }

p.black:hover{
    color: blue;
}

  .push_down{
      margin-top: 5px;
  }
  .center{
      padding-left: 33%;
  }

  .black {
      color: black;
  }
  .center_homepage{
      padding-left:17%;
      width: 100%;
  }
  .comment_header_alignment{
    margin: auto;
    display: block; 
    width: 40%; 
    background: rgba(238, 238, 238, 0.822); 
    padding: 14px 20px; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    margin-top: 1%;
    margin-left: 30%;
  }
  .category_post_content {
    margin: auto;
    display: block; 
    width: 40%; 
    background: rgba(8, 174, 216, 0.35); 
    padding: 14px 20px; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px; 
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  }